@import '~src/variables';

#tab .state-option {
  background: $palette-color-three;
}
#tab .state-annule,
#tab .state-inactif {
  background: $palette-color-two;
}
#tab .state-confirme,
#tab .state-actif {
  background: $palette-color-four;
}

app-list-prestations #tab thead {
  background: $dark-color;
  color: $light-color;
}

#tab tbody > * { //On veut cibler tous les élements premier enfant d'un tbody
  display: contents; //Aucun comportement spécifique
}
